body {
    background-color: #152238;
    color: #d3d3d3;
    font-family: 'Joan', serif;
    font-weight: lighter;


}

img {
    width: 100%;
    height: auto;
}



.container-1 {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;

}

.container-1>div {
    align-content: center;
    background-color: #24324a;
    padding: 20px;
    font-weight: lighter;
    border-radius: 10px;
    margin-bottom: 10px;
}

.container-2 {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;

}

.container-2>div {
    align-content: center;
    background-color: #24324a;
    padding: 20px;
    font-weight: lighter;
    border-radius: 10px;
    margin-bottom: 10px;
}

.container-3>div {
    align-content: center;
    background-color: #24324a;
    padding: 20px;
    font-weight: lighter;
    border-radius: 10px;
    margin-bottom: 10px;
}