body {
    background-color: #152238;
    color: #d3d3d3;
    font-family: 'Joan', serif;
    font-weight: lighter;


}

img {
    width: 100%;
    height: auto;
}

.Container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;

}

.Container>div {
    align-content: center;
    background-color: #24324a;
    padding: 20px;
    font-weight: lighter;
    border-radius: 10px;

}


.button {
    margin-top: 10px;
}

.contactcontainer {
    display: flex;
    margin: 10px 10px;
    align-items: center;
}

.contactcontainer>div {
    align-items: center;
    align-content: center;
    background-color: #24324a;
    padding: 20px;
    font-weight: lighter;
    border-radius: 10px;
}

.contactInfo {
    margin: 40px;
    padding: 4em 4em 4em 4em;
}

.map {
    margin: 40px
}

.separation-line {
    border: none;
    height: 2px;
    background: #d3d3d3;
    width: auto;
}


.form-container {
    background: #24324a;
    width: 500px;
    padding: 25px;
    margin: 50px auto 0;
    border-radius: 10px;

}

.form-container h1 {
    line-height: 30px;
    padding: 30px;
    text-align: center;
}

.information {
    width: 90%;
    position: relative;
    margin: 20px auto;
    font-size: large;
}

.content {
    width: 90%;
    height: 30px;

}



.button {
    width: 100%;
    height: 40px;
    background: #d3d3d3;
    text-align: center;
    align-content: center;
    border-radius: 10px;
}